---
layout: archive
title: "Research group with undergraduates"
permalink: /group/
author_profile: true
---

{% include base_path %}

{% for post in site.group %}
  {% include archive-single.html %}
{% endfor %}

Mission of the research group: We use computational biophysics to study protein conformational dynamics and folding so that
 (1) We elucidate molecular mechanisms hallmark of neurodegenerative diseases 
 (2) Undergraduates develop their agency and skills to tackle scientifically authentic research projects at the interface between physical and life sciences.

Check our Team Canvas to see how we operate as a group: <iframe width="768" height="432" src="https://miro.com/app/live-embed/uXjVP3KR9nI=/?moveToViewport=-425,-482,1175,606&embedId=58441788560" frameborder="0" scrolling="no" allow="fullscreen; clipboard-read; clipboard-write" allowfullscreen></iframe>

Engaging in research with undergraduates is deeply fulfilling:
<ul>
  <li>Catalyzes the academic and scientific growth of a young adult</li>
  <li>Offers the opportunity to see the world of scientific research through the eyes of the emerging expert</li>
  <li>Brings the vitality of the youth and a science workforce that renews itself</li>
  <li>Refreshes perspectives on science, undergraduate college experience, and life</li>
  <li>Enriches processes and growth through mutual challenge and collaboration</li>
</ul>

<img src="PicturesMay2024.jpg" alt="Recent students"> 
<! <img src="https://github.com/PatSoto-BioPhys/PatSoto-BioPhys.github.io/blob/master/_group/PicturesMay2024.jpg" alt="Recent students"> >
