---
layout: archive
title: "Research group with undergraduates"
permalink: /group/
author_profile: true
---

{% include base_path %}

{% for post in site.group %}
  {% include archive-single.html %}
{% endfor %}

Research with undergraduates is a genuine delight:
<ul>
  <li>Catalyzing the academic and scientific growth of a young adult</li>
  <li>Seeing the world of scientific research through the eyes of the emerging expert</li>
  <li>A workforce that renews itself, bringing the vitality of the youth</li>
  <li>Refreshing perspectives on science and life</li>
  <li>Students challenging me</li>
</ul>

<img src="https://github.com/PatSoto-BioPhys/PatSoto-BioPhys.github.io/blob/master/_group/students_recentSp2024.jpg" alt="Recent students"> 
