---
layout: archive
title: "Research group with undergraduates"
permalink: /group/
author_profile: true
---

{% include base_path %}

{% for post in site.group %}
  {% include archive-single.html %}
{% endfor %}

<p>
We use computational biophysics to study protein conformational dynamics and folding so that
  <ul>
 <li>We elucidate molecular mechanisms hallmark of neurodegenerative diseases 
 <li> Undergraduates develop their agency and skills to tackle scientifically authentic research projects at the interface between physical and life sciences.
 </ul>
  </p>
    
<p>
Check our <a href="https://miro.com/app/board/uXjVP3KR9nI=/?share_link_id=76150659827"> Team Canvas</a> to see how we operate as a group. 

<p>
Engaging in research with undergraduates is deeply fulfilling:
<ul>
  <li>Catalyzes the academic and scientific growth of a young adult</li>
  <li>Offers the opportunity to see the world of scientific research through the eyes of the emerging expert</li>
  <li>Brings the vitality of the youth and a science workforce that renews itself</li>
  <li>Refreshes perspectives on science, undergraduate college experience, and life</li>
  <li>Enriches processes and growth through mutual challenge and collaboration</li>
</ul>
</p>

<img src="PicturesMay2024.jpg" alt="Recent students"> 
<! <img src="https://github.com/PatSoto-BioPhys/PatSoto-BioPhys.github.io/blob/master/_group/PicturesMay2024.jpg" alt="Recent students"> >
