---
layout: archive
title: "Academic Leadership and Service"
permalink: /service/
author_profile: true
---

{% include base_path %}

{% for post in site.service %}
  {% include archive-single.html %}
{% endfor %}

My leadership and service aim to co-create professional communities aligned with academic excellence and DEI values. Engaging with colleagues is enriching and fulfilling!
<p>
Key words: Community builder, cultural awareness, inclusion.
</p>
<p>
<ul>
  <li> Associate editor of <a href="https://meridian.allenpress.com/the-biophysicist" target="_blank">The Biophysicist journal</a> and co-organizer of The Biophysicist webinars </li>
  <li> Member of the Executive Committee of American Physical Society Division of Biological Physics </li>
  <li> Seed group and member of the PUI (primarily undergraduate institutions) Network - Biophysical Society </li>
  <li> Member of webinars committee of PICUP (Partnership for Integration of Computation into Undergraduate Physics) </li>
  <li> Member of the AAPT-IPLS community (American Association of Physics Teachers – Introductory Physics for the Life Sciences courses) </li>
  <li> Former member of the Executive Committee of MERCURY (Molecular Education and Research Consortium) </li>
</ul>
</p>
